/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #fff;
}

/* Navbar */
.navbar {
  background:#b6ada8;
  padding: 20px 50px;
  margin-top: 15px;
 
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: space-between;
  align-items: center;
  
}

.logo-img {
  height: 40px;      /* ya jitni height chahiye */
  object-fit: contain;
}

.logo span {
  color: #2e8b57;
}

.logo small {
  display: block;
  font-size: 10px;
  font-weight: 400;
  color: gray;
  margin-top: -4px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color:white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.nav-links sup {
  font-size: 10px;
  color: #999;
}

.btn {
  background: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px; /* reduced from 80px to 40px */
  background-color: #000;
 
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  height: 500px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img img {
    width: 80%;
    margin-top: 20px;
    
  }
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 16px;
  color: #aaa;
  margin-bottom: 30px;
}

header + section.hero {
  margin-top: 0;
}

.btn-primary {
  background: #2196f3;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.hero-img {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

.hero-img img {
  width: 422px;
  object-fit: contain;
}

